<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoxnet.waterSystemLocation.dao.WaterSystemLocationMapper" >
  <resultMap id="BaseResultMap" type="com.yoxnet.waterSystemLocation.bean.WaterSystemLocation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="water_location_id" property="waterLocationId" jdbcType="VARCHAR" />
    <result column="water_sys_id" property="waterSysId" jdbcType="VARCHAR" />
    <result column="location_longitude" property="locationLongitude" jdbcType="DECIMAL" />
    <result column="location_latitude" property="locationLatitude" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, water_location_id, water_sys_id, location_longitude, location_latitude
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_water_system_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    id,water_location_id,water_sys_id,location_longitude,location_latitude
    from data_water_system_location
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from data_water_system_location
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocationExample" >
    delete from data_water_system_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocation" >
    insert into data_water_system_location (id, water_location_id, water_sys_id, 
      location_longitude, location_latitude)
    values (#{id,jdbcType=VARCHAR}, #{waterLocationId,jdbcType=VARCHAR}, #{waterSysId,jdbcType=VARCHAR}, 
      #{locationLongitude,jdbcType=DECIMAL}, #{locationLatitude,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocation" >
    insert into data_water_system_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="waterLocationId != null" >
        water_location_id,
      </if>
      <if test="waterSysId != null" >
        water_sys_id,
      </if>
      <if test="locationLongitude != null" >
        location_longitude,
      </if>
      <if test="locationLatitude != null" >
        location_latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="waterLocationId != null" >
        #{waterLocationId,jdbcType=VARCHAR},
      </if>
      <if test="waterSysId != null" >
        #{waterSysId,jdbcType=VARCHAR},
      </if>
      <if test="locationLongitude != null" >
        #{locationLongitude,jdbcType=DECIMAL},
      </if>
      <if test="locationLatitude != null" >
        #{locationLatitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocationExample" resultType="java.lang.Integer" >
    select count(*) from data_water_system_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update data_water_system_location
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.waterLocationId != null" >
        water_location_id = #{record.waterLocationId,jdbcType=VARCHAR},
      </if>
      <if test="record.waterSysId != null" >
        water_sys_id = #{record.waterSysId,jdbcType=VARCHAR},
      </if>
      <if test="record.locationLongitude != null" >
        location_longitude = #{record.locationLongitude,jdbcType=DECIMAL},
      </if>
      <if test="record.locationLatitude != null" >
        location_latitude = #{record.locationLatitude,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update data_water_system_location
    set id = #{record.id,jdbcType=VARCHAR},
      water_location_id = #{record.waterLocationId,jdbcType=VARCHAR},
      water_sys_id = #{record.waterSysId,jdbcType=VARCHAR},
      location_longitude = #{record.locationLongitude,jdbcType=DECIMAL},
      location_latitude = #{record.locationLatitude,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocation" >
    update data_water_system_location
    <set >
      <if test="waterLocationId != null" >
        water_location_id = #{waterLocationId,jdbcType=VARCHAR},
      </if>
      <if test="waterSysId != null" >
        water_sys_id = #{waterSysId,jdbcType=VARCHAR},
      </if>
      <if test="locationLongitude != null" >
        location_longitude = #{locationLongitude,jdbcType=DECIMAL},
      </if>
      <if test="locationLatitude != null" >
        location_latitude = #{locationLatitude,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoxnet.waterSystemLocation.bean.WaterSystemLocation" >
    update data_water_system_location
    set water_location_id = #{waterLocationId,jdbcType=VARCHAR},
      water_sys_id = #{waterSysId,jdbcType=VARCHAR},
      location_longitude = #{locationLongitude,jdbcType=DECIMAL},
      location_latitude = #{locationLatitude,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>